<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appsCanCache</key>
	<string>https://raw.githubusercontent.com/krypted/precache/master/com.github.krypted.precache.apps-list.plist</string>
	<key>cacheApps</key>
	<array>
		<string>Server</string>
		<string>Sierra</string>
	</array>
	<key>cacheGroups</key>
	<array>
	</array>
	<key>cacheIPSW</key>
	<array>
		<string>iPad6,8</string>
	</array>
	<key>cacheMacUpdates</key>
	<array>
	</array>
	<key>cacheModels</key>
	<array>
		<string>AppleTV5,3</string>
	</array>
	<key>cacheServerConfigPlist</key>
	<string>/Library/Server/Caching/Config/Config.plist</string>
	<key>cacheServerPort</key>
	<string>53612</string>
	<key>cacheServerURL</key>
	<string>http://cacheserver</string>
	<key>destination</key>
	<string>/tmp</string>
	<key>iosBaseURL</key>
	<string>http://mesu.apple.com/assets/</string>
	<key>iosFeeds</key>
	<dict>
		<key>ios</key>
		<string>com_apple_MobileAsset_SoftwareUpdate/com_apple_MobileAsset_SoftwareUpdate.xml</string>
		<key>tv</key>
		<string>tv/com_apple_MobileAsset_SoftwareUpdate/com_apple_MobileAsset_SoftwareUpdate.xml</string>
		<key>watch</key>
		<string>watch/com_apple_MobileAsset_SoftwareUpdate/com_apple_MobileAsset_SoftwareUpdate.xml</string>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
	<key>logPath</key>
	<string>/tmp/precache.log</string>
	<key>masBaseURL</key>
	<string>http://osxapps.itunes.apple.com/</string>
	<key>mdm</key>
	<string>jamf</string>
	<key>mdmPassword</key>
	<string>aPassword</string>
	<key>mdmServer</key>
	<string>foo.example.org:9000</string>
	<key>mdmToken</key>
	<string>05cf21d7f2adaf6793b9063e8e58d0ce3e21411e4f54fc79f6470d90a27a4609</string>
	<key>mdmUser</key>
	<string>aUser</string>
	<key>softwareUpdateFeed</key>
	<dict>
		<key>all</key>
		<string>content/catalogs/others/index-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
		<key>sierra</key>
		<string>content/catalogs/others/index-10.12.merged-1.sucatalog</string>
	</dict>
	<key>sucatalogExcludes</key>
	<array>
		<string>Voice Update</string>
		<string>Mountain Lion</string>
		<string>Lion</string>
		<string>Snow Leopard</string>
		<string>Leopard</string>
		<string>Tiger</string>
		<string>Panther</string>
		<string>Jaguar</string>
		<string>Puma</string>
		<string>Cheetah</string>
		<string>Kodiak</string>
		<string>Printer</string>
		<string>Java</string>
		<string>Flash</string>
		<string>Logic Pro</string>
		<string>GarageBand</string>
		<string>Pages</string>
		<string>Keynote</string>
		<string>Numbers</string>
		<string>Speech</string>
		<string>iPhone</string>
		<string>Dictation</string>
		<string>MainStage</string>
		<string>QuickTime</string>
		<string>Final Cut Pro</string>
		<string>FontAssets</string>
		<string>Bluetooth</string>
		<string>Photo Content</string>
		<string>VoiceOver</string>
		<string>Motion</string>
		<string>MRTConfig</string>
		<string>Mac OS X Server</string>
		<string>Chinese</string>
		<string>Driver</string>
		<string>Developer</string>
		<string>Preview</string>
		<string>Beta</string>
		<string>iAd</string>
		<string>Kernel</string>
		<string>10.9</string>
		<string>10.8</string>
		<string>10.7</string>
		<string>10.6</string>
		<string>10.5</string>
		<string>10.4</string>
		<string>10.3</string>
		<string>10.2</string>
		<string>10.1</string>
		<string>10.0</string>
		<string>iPhoto</string>
		<string>Rosetta</string>
		<string>SafeView</string>
		<string>NRT</string>
		<string>AppleDisplays</string>
		<string>Apple Directory</string>
		<string>AppleConnect</string>
		<string>App Store</string>
		<string>BlueTooth</string>
		<string>GateKeeper</string>
		<string>Noticeboard</string>
		<string>CoreSuggestions</string>
		<string>Pro Video</string>
		<string>Beats</string>
		<string>XProtect</string>
		<string>Installer Notification</string>
		<string>Technology Preview</string>
		<string>Remote Desktop</string>
		<string>System Integrity</string>
		<string>BootCamp</string>
		<string>Configuration Data</string>
		<string>iTunes Producer</string>
		<string>RAW</string>
	</array>
	<key>swuBaseURL</key>
	<string>https://swscan.apple.com/</string>
	<key>tetheratorConfigPlist</key>
	<string>/Library/Preferences/com.apple.AssetCache.plist</string>
	<key>userAgentString</key>
	<string>precache</string>
</dict>
</plist>
